BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterUnion: false
  AfterNamespace: false
  AfterClass: false
  AfterStruct: false
  AfterControlStatement: false
  AfterFunction: false
  BeforeElse: false
  BeforeCatch: false

  IndentBraces: false

AccessModifierOffset: -4

AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false

PointerAlignment: Left
DerivePointerAlignment: false

SortIncludes: true
IncludeBlocks: Preserve

BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
ContinuationIndentWidth: 4
AlignOperands: DontAlign

IndentCaseLabels: true
IndentPPDirectives: AfterHash

MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: false

SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true

ReflowComments: false
AlignTrailingComments: false
